* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Colors */
    /* Primary */
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    
}

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
  


body {
    background-color: var(--eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    border-radius: 1rem;
}

h1,h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    color: var(--nutmeg);
    font-size: 1.6rem;
}
h1{
    color: var(--dark-charcoal);
    font-size: 2.5rem;
}
h3{
    color: var(--dark-raspberry);
}
span{
    font-weight: 700;
}

.image {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.div-image {
    width: 100%;
    
}

.container {
    padding: 3rem;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--wenge-brown);
}

.div-intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.div-preparation-time{
    padding: 2rem;
    background-color: var(--rose-white);
    border-radius: 1rem;

} .div-preparation-time ul {
    margin-left: 1rem;
} .div-preparation-time ul li {
    margin-top: 0.5rem;
    color: var(--dark-raspberry);
} 
.div-preparation-time ul li span{
    color: var(--wenge-brown);
} 

.div-ingredients {
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--light-grey);
} .div-ingredients ul {
    margin: 1.5rem;
} .div-ingredients ul li {
    margin-top: 1rem;
    list-style-type: square;
}

.div-instructions {
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--light-grey);
} .div-instructions ol {
    margin: 1.5rem;
    color: var(--dark-raspberry);
    font-weight: 700;
} .div-instructions ol li {
    margin-top: 1rem;  
} .div-instructions ol li p{
    color: var(--wenge-brown);
    font-weight: 300;
}

.div-nutrition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} .div-nutrition table {
    width: 100%;
}.div-nutrition td {
    padding: 0.5em;
} .div-nutrition .have-line td{
    border-bottom: 1px solid var(--light-grey);
} .div-nutrition span{
    color: var(--nutmeg);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: var(--eggshell);
}

@media (max-width: 425px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    main {
        margin: 0;
    }
    
    .container {
        border-radius: 0;
        padding: 1rem;
        margin: 0;
        width: 100%;
    }

    .image{
        border-radius: 0;
        width: 100%;
    }
}